{% extends "base.html" %}
{% load thumbnail %}
{% block title %} Страница пользователя {{ profile_user.get_full_name }} {% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% include "user_information.html" %}

            <div class="col-md-9">
                <!-- Начало блока с отдельным постом -->
                        {% include "post_item.html" with post=post %}
                {% include 'comments.html' %}
               {% if page.has_other_pages %}
                    {% include 'paginator.html' with items=page paginator=paginator %}
               {% endif %}
            </div>
    </div>
    </main>
{% endblock %}